<ion-header>
  <ion-navbar color="royal">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Pedidos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let order of orders">
      <p>{{ order.date | date }}</p>
      <p *ngIf="order.client"><strong>Cod cliente:</strong> {{ order.client.codClient }}</p>
      <p><strong>Estado:</strong> {{ order.state }}</p>
      <p *ngIf="order.total"><strong>Total:</strong> Bs {{ order.total }}</p>
      <button ion-button clear color="royal" item-right (click)="showOptions( order )">
        Opciones
      </button>
    </ion-item>
  </ion-list>
</ion-content>