<ion-header>
  <ion-navbar color="royal">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Pedidos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item tappable (click)="showOptions( order )" *ngFor="let order of orders" [ngClass]="order.state">
      <p>{{ order.date | date }}</p>
      <p *ngIf="order.client"><strong>Cod cliente:</strong> {{ order.client.codClient }}</p>
      <p><strong>Estado:</strong> {{ order.state == 'done' ? 'Entregado' : 'Pendiente' }}</p>
      <p *ngIf="order.total"><strong>Total:</strong> Bs {{ order.total }}</p>
      <p><strong>Tipo:</strong> {{ order.type == 'payment' ? 'Al contado' : 'A crédito' }}</p>
      <button ion-button color="royal" item-right >
        Opciones
      </button>
    </ion-item>
  </ion-list>
</ion-content>