<ion-header>
  <ion-navbar color="primary">
    <ion-title>Producto</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <form novalidate [formGroup]="productForm" (ngSubmit)="saveProduct( $event )">
    <ion-list>
      <ion-item>
        <ion-label floating>Nombre: </ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-item *ngIf="productForm.get('name').errors && productForm.get('name').dirty">
        <p *ngIf="productForm.get('name').hasError('required')" ion-text color="danger">Este campo es requerido.</p>
      </ion-item>
      <ion-item>
        <ion-label floating>Codigo: </ion-label>
        <ion-input formControlName="code"></ion-input>
      </ion-item>
      <ion-item *ngIf="productForm.get('code').errors && productForm.get('code').dirty">
        <p *ngIf="productForm.get('code').hasError('required')" ion-text color="danger">Este campo es requerido.</p>
      </ion-item>
      <ion-item>
        <ion-label floating>Cantidad: </ion-label>
        <ion-input formControlName="cant"></ion-input>
      </ion-item>
      <ion-item *ngIf="productForm.get('cant').errors && productForm.get('cant').dirty">
        <p *ngIf="productForm.get('cant').hasError('required')" ion-text color="danger">Este campo es requerido.</p>
      </ion-item>
      <ion-item>
        <ion-label floating>Precio(Bs): </ion-label>
        <ion-input formControlName="price"></ion-input>
      </ion-item>
      <ion-item *ngIf="productForm.get('price').errors && productForm.get('price').dirty">
        <p *ngIf="productForm.get('price').hasError('required')" ion-text color="danger">Este campo es requerido.</p>
      </ion-item>
    </ion-list>
    <div padding>
      <button block ion-button type="submit" icon-left [disabled]="productForm.invalid">
        Guardar
      </button>
    </div>
    
  </form>
</ion-content>
