<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Pedidos</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="goToMapOrdersDistributorPage()">
        <ion-icon name="locate"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngIf="orders.length == 0">
      Lista vacia
    </ion-item>
    <ion-item *ngFor="let order of orders">
      <p>{{ order.date | date }}</p>
      <p><strong>Cod cliente:</strong> {{ order.client.codClient }}</p>
      <p><strong>Estado:</strong> {{ order.state }}</p>
      <p><strong>Total:</strong> Bs {{ order.total }}</p>
      <button ion-button clear color="dark" item-right (click)="showOptions( order )">
        Opciones
      </button>
    </ion-item>
  </ion-list>
</ion-content>