<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Pedidos - {{ zone }}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="options"></ion-icon>
      </button>
      <button ion-button icon-only (click)="goToMapOrdersDistributorPage()">
        <ion-icon name="map"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngIf="showOrders.length == 0">
      Lista vacia
    </ion-item>
    <ion-item tappable (click)="showOrder( order )" *ngFor="let order of showOrders" [ngClass]="order.state">
      <p>{{ order.date | date }}</p>
      <p *ngIf="order.client"><strong>Cod cliente:</strong> {{ order.client.codClient }}</p>
      <p><strong>Estado:</strong> {{ order.state == 'done' ? 'Entregado' : 'Pendiente' }}</p>
      <p *ngIf="order.total"><strong>Total:</strong> Bs {{ order.total }}</p>
      <p><strong>Tipo:</strong> {{ order.type == 'payment' ? 'Al contado' : 'A crédito' }}</p>
      <button ion-button color="dark" item-right>
        Ver
      </button>
    </ion-item>
  </ion-list>
</ion-content>