<ion-header>
  <ion-navbar color="primary">
    <ion-title>Producto</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <form novalidate [formGroup]="productForm" (ngSubmit)="saveProduct( $event )">
    <ion-list>
    
      <ion-item>
        <ion-label>Tipo:</ion-label>
        <ion-select formControlName="type">
          <ion-option value="cuidado" selected="true">Cuidado Personal</ion-option>
          <ion-option value="alimentos">Alimentos</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Categoria:</ion-label>
        <ion-select formControlName="category">
          <ion-option value="polvo" selected="true">detergente en polvo</ion-option>
          <ion-option value="barra">detergente en barra</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Marca:</ion-label>
        <ion-select formControlName="mark">
          <ion-option value="skip" selected="true">Skip</ion-option>
          <ion-option value="omo">Omo</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Group:</ion-label>
        <ion-select formControlName="group">
          <ion-option value="skip" selected="true">Skip</ion-option>
          <ion-option value="limon">Limon</ion-option>
          <ion-option value="floral">Floral</ion-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label>Nombre: </ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="productForm.get('name').errors && productForm.get('name').dirty">
        <p *ngIf="productForm.get('name').hasError('required')" ion-text color="danger">Este campo es requerido.</p>
      </ion-item>

      <ion-item>
        <ion-label>Codigo: </ion-label>
        <ion-input formControlName="code" type="number"></ion-input>
      </ion-item>
      <ion-item *ngIf="productForm.get('code').errors && productForm.get('code').dirty">
        <p *ngIf="productForm.get('code').hasError('required')" ion-text color="danger">Este campo es requerido.</p>
        <p *ngIf="productForm.get('code').hasError('maxlength')" ion-text color="danger">solo de 5 caracteres.</p>
      </ion-item>

      <ion-item>
        <ion-label>Peso: </ion-label>
        <ion-input formControlName="wheight" type="number"></ion-input>
      </ion-item>
      <ion-item *ngIf="productForm.get('wheight').errors && productForm.get('wheight').dirty">
        <p *ngIf="productForm.get('wheight').hasError('required')" ion-text color="danger">Este campo es requerido.</p>
      </ion-item>

      <ion-item>
        <ion-label>Cantidad: </ion-label>
        <ion-input formControlName="cant" type="number"></ion-input>
      </ion-item>
      <ion-item *ngIf="productForm.get('cant').errors && productForm.get('cant').dirty">
        <p *ngIf="productForm.get('cant').hasError('required')" ion-text color="danger">Este campo es requerido.</p>
      </ion-item>

      <ion-item>
        <ion-label>Precio(Bs): </ion-label>
        <ion-input formControlName="price" type="number"></ion-input>
      </ion-item>
      <ion-item *ngIf="productForm.get('price').errors && productForm.get('price').dirty">
        <p *ngIf="productForm.get('price').hasError('required')" ion-text color="danger">Este campo es requerido.</p>
        <p *ngIf="productForm.get('price').hasError('maxlength')" ion-text color="danger">solo 3 decimales.</p>
      </ion-item>

      <div padding>
        <img *ngIf="image !== null" [src]="image" alt="avatar">
        <ion-grid>
         <ion-row>
           <ion-col col-6>
              <button color="secondary" block ion-button icon-left (click)="takePicture()" type="button">
                <ion-icon name="camera"></ion-icon>
                Sacar Foto
              </button>
           </ion-col>
           <ion-col col-6>
              <button block ion-button icon-left color="danger" (click)="takeLibrary()" type="button">
                <ion-icon name="ios-albums"></ion-icon>
                Album
              </button>
           </ion-col>
         </ion-row>
       </ion-grid>
      </div>

    </ion-list>
    <div padding>
      <button block ion-button type="submit" icon-left [disabled]="productForm.invalid">
        Guardar
      </button>
    </div>
    
  </form>
</ion-content>
