<ion-header>
  <ion-navbar color="royal">
    <ion-title>Crear cotización</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form novalidate [formGroup]="orderForm" (ngSubmit)="orderForm.valid && createOrder( $event )">
    <ion-list>
       <ion-item>
        <ion-label floating>Código cliente:</ion-label>
        <ion-input formControlName="code" type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="orderForm.get('code').errors && orderForm.get('code').dirty">
        <p *ngIf="orderForm.get('code').hasError('required')" ion-text color="danger">Este campo es requerido.</p>
      </ion-item>
      <ion-item>
        <ion-label floating>Tipo de Pago:</ion-label>
        <ion-select formControlName="type">
          <ion-option value="payment">Contado</ion-option>
          <ion-option value="credit">Credito</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="orderForm.get('type').errors && orderForm.get('type').dirty">
        <p *ngIf="orderForm.get('type').hasError('required')" ion-text color="danger">Este campo es requerido.</p>
      </ion-item>
    </ion-list>
    <div padding>
      <button block ion-button icon-left color="royal" type="submit" [disabled]="orderForm.invalid">
        <ion-icon name="clipboard"></ion-icon>
        Realizar Pedido
      </button>
    </div>
  </form>
</ion-content>