page-home-distributor {
  ion-slides{
    height: 320px;
    .swiper-pagination-bullet{
      background-color: white;
      opacity: .9;
      &.swiper-pagination-bullet-active{
        background-color: color($colors, dark);
      }
    }
  }
  .button-distributor{
    background-color: color($colors, dark);
    color: white;
    display: block;
    height: 120px;
    padding-top: 10px;
    ion-icon{
      font-size: 2.6em;
    }
    h5{
      width: 88%;
      font-size: 1.6rem;
      padding-bottom: 10px;
      margin: 0px auto 10px auto;
      border-bottom: 1px solid white;
    }
    &.button-orders{
      background-color: color($colors, dark);
    }
    &.button-orders-done{
      background-color: #494949;
    }
    &.button-orders-undone{
      background-color: #000000;
    }
  }
  
}
