<ion-header>
   <ion-navbar color="royal">
    <ion-title>Categorias</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showOrder()">
        <ion-icon name="clipboard"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid no-margin no-padding>
    <ion-row no-margin no-padding>
      <ion-col text-center col-6 *ngFor="let category of showCategories">
        <a class="category-cover" (click)="goToProductsPresalePage( category )">
          <div class="cover">
            <img [src]="category.image" [alt]="category.name">
          </div>
          <h5>{{ category.name }}</h5>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-segment color="royal" [(ngModel)]="typeSelected" >
      <ion-segment-button value="all" (ionSelect)="onSelect( $event )">
       Todo
      </ion-segment-button>
      <ion-segment-button [value]="type.value" *ngFor="let type of types" (ionSelect)="onSelect( $event )">
        {{ type.name }}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>