<ion-header>
  <ion-navbar color="primary">
    <ion-title>Usuarios</ion-title>
    <button menuToggle="menuUser" ion-button>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="addUser()">
        <i class="material-icons">add_circle</i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <!--<div *ngIf="users.length == 0">
      <div class="item item-text-wrap">
        No hay nada en la lista, agrega un usuario nuevo porfavor!!
      </div>
  </div>-->
  
 <ion-list>
    <ion-item *ngFor="let user of users | async; let i = index" (click)="showActionSheet(user)">
      <ion-thumbnail item-left>
        <img [src]= "user.photo" alt="avatar">
      </ion-thumbnail>
      <h2>{{ user.name }}</h2>
      <p>{{ user.apPat}}</p>
      <p>{{ user.CI}}</p>
      <p>{{ user.direction}}</p>
      <p>{{user.role}}</p>
    </ion-item>
  </ion-list>

</ion-content>
